[user]
    name = {{ .nickname }}
    email = {{ .personalEmail }}
[includeif "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}dg{{ .chezmoi.pathSeparator }}"]
    path = ~{{ .chezmoi.pathSeparator }}.gitconfig-work
[core]
	autocrlf = input
